/*menu*/

.nav{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  box-sizing: border-box;
  font-weight: 500;
  font-family: Cera pro,Trebuchet MS,sans-serif;
}

.firtimg{
  height: 30px;
  width: 130px;
}

.navitem{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 35px;
  margin: 15px;
}

.navitem:hover{
  cursor:default;
}

.navitem2{
  display: flex;
  flex-direction: row;
}

.login{
  margin: 0px 16px 0px 0px;
  padding: 5px 0px;
}

.login:hover{
  color: #007AFC;
  cursor: pointer;
}

.signup{
  display: inline-block;
  padding: 8px 12px;
  border-radius: 50px; 
  background-color: #007AFC; 
}

.signup:hover{
  background-color: #378fed;
  border-radius: 50px;
  cursor: pointer;
}



/*première section*/


.firstsection{
  padding: 176px 40px 70px;
}

.firstdiv{
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  align-items: center;
  margin: 0 76px;

}

.firsth1{
  text-align: center;
}

.firstp{
  color: darkgray;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 35px;
  margin: 0 0 32px;

}

.firstbutton{
  text-align: center;
  font-size: 18px;
  background-color: #007AFC;
  border-radius: 50px;
  transition: 0.2s;
  margin: 0 0 60px;
  padding: 12px 24px;
  
  
}

.firstbutton:hover{
  cursor: pointer;
  background-color: #378fed;
}





.whiteh2{
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  margin: 0 0 0px;
  letter-spacing: .1em;
  margin-bottom: 60px;
}

.logoblock{
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(2, auto);
  grid-column-gap: 78px;
  grid-row-gap: 68px;
  margin-bottom: 60px;
  width: 100%;
  max-width: 100%;
}

.logorow {
  text-align: center;
}


.imglogo{
  max-width: 100%;
  width: 70px;
}

.blueh2{
  perspective: 2000px;
  color: #007afc;
  letter-spacing: 0;
  font-weight: 500;
  display: inline;
  position: relative;
  margin-right: 4px;
  font-size: 14px;
  
}

.blueh2:hover{
  color: #378fed;
  cursor: pointer;
}




/*2ème section*/


.secondsection{
  padding: 90px 40px 84px;
  display: flex;
  justify-content: center;
}

.seconddiv{
  margin: 0 79.6px;
}


.secondp{
  margin-top: 0;
  margin-bottom: 24px;
}

.center{
  display: flex;
  align-items: center;
}

.secondbutton{
  background-color: transparent;
  border: 1px solid darkgray;
  padding: 12px 20px;
  text-align: left;
  display: inline-block;
  border-radius: 50px;
  font-size: 16px;
}

.secondbutton:hover{
  color: #007AFC;
  border: 1px solid #007AFC;
  cursor: pointer;
  background-color: #001a34;
}

.img1{
  max-width: 100%;
  width: 200px;
}

.img2{
  max-width: 100%;
  width: 800px;
}

/*3ème section*/


.thirdsection{
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
}

.thirddiv{
  margin: 0 269.5px;
  display: flex;
  align-items: center;
}

.frmimg{
  margin-right: 60px;
}

.img3{
  max-width: 100%;
  width: 350px;
}

.thirdbutton{
  background-color: transparent;
  border: 1px solid darkgray;
  padding: 12px 20px;
  text-align: left;
  display: inline-block;
  border-radius: 50px;
  font-size: 16px;
}

.thirdbutton:hover{
  color: #007AFC;
  border: 1px solid #007AFC;
  cursor: pointer;
  background-color: #001a34;

}