/*menu*/

.nav{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  box-sizing: border-box;
  font-weight: 500;
  font-family: Cera pro,Trebuchet MS,sans-serif;
}

.firtimg{
  height: 30px;
  width: 130px;
}

.navitem{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 35px;
  margin: 15px;
}

.navitem:hover{
  cursor:default;
}

.navitem2{
  display: flex;
  flex-direction: row;
}

.login{
  margin: 0px 16px 0px 0px;
  padding: 5px 0px;
}

.login:hover{
  color: #007AFC;
  cursor: pointer;
}

.signup{
  display: inline-block;
  padding: 8px 12px;
  border-radius: 50px; 
  background-color: #007AFC; 
}

.signup:hover{
  background-color: #378fed;
  border-radius: 50px;
  cursor: pointer;
}



/*première section*/


.firstsection{
  padding: 176px 40px 70px;
}

.firstdiv{
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  align-items: center;
  margin: 0 76px;

}

.firsth1{
  text-align: center;
  font-size: 80px;
  line-height: 80px;
  margin: 0 0 24px;
  letter-spacing: -.025em;
  
}

.firsth2{
  color: darkgray;
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  line-height: 35px;
  margin: 0 0 32px;

}

.firstbutton{
  text-align: center;
  padding: 10px 20px;
  font-size: 18px;
  background-color: #007AFC;
  border-radius: 50px;
  transition: 0.2s;
  margin: 0 0 60px;
  padding: 12px 24px;
  
  
}

.firstbutton:hover{
  cursor: pointer;
  background-color: #378fed;
}





.paragraph{
  text-align: center;
  font-size: 12px;
  font-weight: 600;
  margin: 0 0 0px;
  letter-spacing: .1em;
  margin-bottom: 60px;
}

.logoblock{
  display: grid;
  grid-template-columns: repeat(5, auto);
  grid-template-rows: repeat(2, auto);
  grid-column-gap: 78px;
  grid-row-gap: 68px;
  margin-bottom: 60px;
  width: 100%;
  max-width: 100%;
}

.logorow {
  text-align: center;
}


.imglogo{
  max-width: 100%;
  width: 70px;
}

.paragraph2{
  perspective: 2000px;
  color: #007afc;
  letter-spacing: 0;
  font-weight: 500;
  display: inline;
  position: relative;
  margin-right: 4px;
  font-size: 14px;
  
}

.paragraph2:hover{
  color: #378fed;
  cursor: pointer;
}




/*2ème section*/
